body {
    letter-spacing: normal;
    line-height: 1.5;
}

/* elements */

strong, b {
    color: unset;
}

pre {
    font-size: 0.8rem;
    line-height: 1.5;
    padding: 1rem;
    box-shadow: 3px 3px 9px #aaa;
    border-radius: 5px;
}

blockquote {
    border-left: 5px solid #ccc;
    margin-left: 0;
    background-color: #eee;
    padding: 1rem;
}

blockquote p {
    margin: 0;
    font-style: italic;
}

blockquote code {
    font-style: normal;
}