body {
    letter-spacing: 1px;
    line-height: 2;
}

/* h3 and h4 can use together */

h3 {
    color: var(--gray);
    font-size: 24px;
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

h4 {
    color: var(--green);
    font-size: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* h5 only for monospace */

h5 {
    color: var(--green);
    font-family: monospace;
    font-size: 16px;
    font-weight: 700;
    line-height: 2;
}

/* elements */

a {
    color: var(--green);
    text-decoration: none;
}

a:hover {
    color: var(--red);
    text-decoration: none;
}

blockquote {
    color: var(--gray);
    margin-left: 2rem;
    font-size: 0.9rem;
}

q {
    color: #999;
    font-size: 0.9rem;
    font-weight: normal;
    quotes: '〔' '〕';
    display: inline;
}

strong {
    color: #D67936;
}

em {
    color: var(--green);
    font-family: Georgia, serif;
}

del {
    color: #999;
}

small {
    color: var(--gray);
    font-weight: normal;
    font-size: 0.9rem;
}

small em, small strong {
    color: inherit;
}

mark {
    padding: inherit;
}

/* extra */

.box {
    color: var(--green);
    font-size: 0.9rem;
    margin: auto 0.5rem;
    padding: 2px 5px;
    box-shadow: 0px 1px 2px 1px #aaa;
}