body {
  width: 70%;
  margin: 40px auto;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.5px;
  font-family: 'Noto Sans', 'Noto Sans CJK SC', 'Noto Sans CJK TC', 'Arial', 'Microsoft YaHei', sans-serif;
  color: #444;
  @include mobile {
    width: auto;
    margin: 20px;
  }
}

p {
  font-size: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: green;
}

a:hover {
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 1.6em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd;
}

h2 {
  text-align: left;
  font-size: 1.25em;
  color: green;
}

h3 {
  text-align: center;
  font-size: 1.25em;
}

h5 {
  text-align: left;
  font-size: 1em;
  font-weight: bold;
}

h1, h2, h3, h5 {
  margin: 1em auto;
}

/* ul ol */

li {
  margin: 0.3em auto;
}

/* quote and blockquote */

hr {
  border: 1px dashed #ddd;
}

q {
  quotes: none;
}

blockquote {
  font-size: 0.95em;
  font-weight: normal;
  font-style: normal;
  margin: 1em 2em;
  color: #777;
}

/* table */

table {
  margin: auto;
  width: 100%;
  line-height: 2em;
  text-align: center;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
}

tr:nth-child(2n) {
  background-color: #fafafa;
}

/* small */

small {
  font-size: 0.8rem;
  font-weight: normal;
  color: #777;
}

/* image */

img {
  display: block;
  margin: auto;
  max-width: 100%;
}

img.title {
  margin: 2em auto;
}

/* footer */

footer {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid #ddd;
  font-size: 0.8em;
  color: gray;
}
