.center {
  text-align: center;
}

.right {
  text-align: right;
}

/* text with background color */

.bg {
	background-color: #ddd;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 1px 5px;
}

/* prev and next post */

.post-prev {
  float: left;
  padding: 1em;
  border: 1px solid green;
  @include mobile {
    float: none;
    width: 50%;
    margin: 1em auto;
    text-align: center;
  }
}

.post-next {
  float: right;
  padding: 1em;
  border: 1px solid green;
  @include mobile {
    float: none;
    width: 50%;
    margin: 1em auto;
    text-align: center;
  }
}

/* text colors*/

.bilingual p {
  font-weight: bold;
}

.bilingual ul {
  list-style-type: none;
}

.bilingual li:nth-child(1) {
  color: #993;
}

.bilingual li:nth-child(2) {
  color: #693;
}

.bilingual li:nth-child(3) {
  color: #363;
}

.c993 {
	color: #993;
}

.c693 {
	color: #693;
}

.c363 {
	color: #363;
}
