/* last update: 2023-10-02 */

p {
    font-family: "Palatino", "Palatino Linotype", var(--bs-font-sans-serif);
    letter-spacing: 0.5px;
}

li:nth-child(1) {
    color: #993;
}

li:nth-child(2) {
    color: #693;
}

li:nth-child(3) {
    color: #363;
}

li em {
    color: inherit;
}

blockquote > ul {
    list-style-type: disc;
}

blockquote > ul > li {
    font-family: "Palatino", "Palatino Linotype", var(--bs-font-sans-serif);
    letter-spacing: 0.5px;
    color: #333 !important;
}