/* last update: 2023-12-17 */

li:nth-child(1) {
    color: #993;
}

li:nth-child(2) {
    color: #693;
}

li:nth-child(3) {
    color: #363;
}

li em {
    color: inherit;
}

blockquote li {
    color: #444 !important;
}