/* Last update: 2026-01-20 */

:root {
    --font-serif: "Palatino", "Palatino Linotype", var(--bs-font-sans-serif);
}

body {
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 2;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

h3 {
    color: var(--bs-green);
    font-size: 1.25rem;
    line-height: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h4 {
    color: var(--bs-green);
    font-family: var(--bs-font-sans-serif);
    font-weight: bold;
    font-size: 1rem;
    line-height: 2rem;
}

/* Pali */

.pi {
    font-family: var(--font-serif);
    /* hanging-punctuation: first; */
}

/* Elements */

a {
    color: var(--bs-green);
    text-decoration: none;
}

a:hover {
    color: var(--bs-red);
}

a em {
    color: inherit;
}

blockquote {
    margin-left: 2rem;
}

blockquote > ol,
blockquote > ul {
    font-size: 0.875rem;
}

blockquote li {
    margin-bottom: 0.5rem;
}

blockquote li div { /* quote in the list */
    margin-left: 2em;
}

del {
    color: #999;
}

mark {
    padding: inherit;
}

q {
    color: #999;
    font-size: 0.875rem;
    font-weight: 300;
    font-style: normal !important;
    quotes: '〔' '〕';
    display: inline;
}

small {
    color: var(--bs-gray);
    font-weight: 300;
    font-size: 0.875rem;
}

strong {
    font-weight: 600;
}

u {
    text-underline-offset: 4px;
}

/* Modify Bootstrap classes */

ul.list-inline {
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 0.875rem;
}

.list-group-item {
    padding: .75rem 1rem;
}

.badge {
    font-family: var(--bs-font-sans-serif);
    font-weight: inherit;
}

[class^="col-"] {
    max-width: 880px;
}

/* Hugo classes */

.footnotes {
    color: var(--bs-gray-dark);
    font-size: 0.875rem;
    margin-top: 2rem;
}

.footnote-ref {
    color: chocolate;
    font-style: normal;
    font-weight: normal;
}

.footnote-backref {
    font-size: 0.8rem;
    opacity: 60%;
}

.footnote-backref:hover {
    opacity: 100%;
}

.footnote-ref:before {
    content: '[';
}

.footnote-ref:after {
    content: ']';
}
  
/* Custom classes */

.hashtag {
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}

a:hover > .hashtag {
    opacity: 100%;
}

.commentary {
    opacity: 60%;
    cursor: pointer;
    float: right;
}

.cc2 {
    column-count: 2;
}

ol.upperroman {
    list-style-type: upper-roman;
}

ol.lowerlatin {
    list-style-type: lower-latin;
}

#footer {
    color: var(--bs-gray);
    font-size: 0.75rem;
    font-variant: small-caps;
}

#footer a {
    color: inherit;
}
