{{- define "title" -}}
<title>{{ .Title }} - {{ .Site.Title }}</title>
{{- end -}}


{{- define "main" }}

<h1 class="text-center mb-5">{{ .Title }}</h1>

<ul class="list-group list-group-flush">
    {{ range .Pages }}
    {{ if .Params.section }}
    <p class="lead text-center text-muted mt-3">{{ .Params.section|markdownify }}</p>
    {{ end -}}
    <li class="list-group-item">
        <a href="{{ .Permalink }}" class="d-flex justify-content-between align-items-center">
            <span class="d-flex align-items-center">
                {{ .Title }} {{with .Params.subtitle}}<small class="ms-1">{{.}}</small>{{end}}
                {{ if .Params.draft }}
                <small class="text-danger ms-1">●</small>
                {{ else if .Params.brewing }}
                <small class="text-warning ms-1">●</small>
                {{ end }}
            </span>
            <span class="badge text-bg-light">
                {{ if .IsPage }}
                {{ .Params.lastmod.Format "2006/01/02" }}
                {{ else }}
                {{ len ( where .Pages "Section" "==" .Section ) }}
                {{ end }}
            </span>
        </a>
    </li>
    {{ end }}
</ul>

{{ end -}}