{{- define "title" -}}
<title>{{ .Title }} | {{ .Site.Title }}</title>
{{- end -}}


{{- define "main" }}

<h2 class="text-center mb-5">{{ .Title }}</h2>

<ul class="list-group list-group-flush">
    {{ range .Pages }}
    {{ if .Params.section }}
    <p class="lead text-center text-muted mt-3">{{ .Params.section|markdownify }}</p>
    {{ end -}}
    <li class="list-group-item">
        <a href="{{ .Permalink }}" class="align-items-center d-block">
            <span>
                {{ .Title }} {{with .Params.subtitle}}<small>{{.}}</small>{{end}}
                {{ if .Params.draft }}
                <span class="text-danger">&#9201;</span>
                {{ else if .Params.brewing }}
                <span class="text-warning">&#9201;</span>
                {{ end }}
            </span>
            <span class="float-end ms-1">
                <span class="badge bg-light text-dark">
                    {{ if .IsPage }}
                    {{ .Params.lastmod.Format "2006/01/02" }}
                    {{ else }}
                    {{ len ( where .Pages "Section" "==" .Section ) }}
                    {{ end }}
                </span>
            </span>
        </a>
    </li>
    {{ end }}
</ul>

{{ end -}}