{{- define "title" -}}
<title>{{ .Title }} - {{ .CurrentSection.Title }} - {{ .Site.Title }}</title>
{{- end -}}


{{- define "main" }}

<article class="pi">
<h1 class="text-center mb-5">{{ .Title }}</h1>
<hr>

{{ if .Params.draft }}
<div class="alert alert-danger text-center">未刊稿</div>
{{ else if .Params.brewing }}
<div class="alert alert-warning text-center">未完稿</div>
{{ end }}

{{ .Content }}
</article>

<script src="/pagefind/pagefind-highlight.js"></script>
<script type="module">
    await import('/pagefind/pagefind-highlight.js');
    new PagefindHighlight({ highlightParam: "highlight" });
</script>

{{ end -}}


{{- define "nav" }}
{{ partial "nav.html" . }}
{{ end -}}